@import "../../scss/vars";

.Pagination {
  width: 10px;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;

  &__item {
    position: relative;
    display: block;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    &.active {
      .Pagination__item-in {
        border: 1px solid $color-black;

        &:before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $color-black;
        }
      }
    }

    &.white {
      .Pagination__item-in {
        border: 1px solid rgba($color-white, .2);

        &:hover {
          border: 1px solid $color-white;
        }
      }

      &.active {
        .Pagination__item-in {
          border: 1px solid $color-white;
  
          &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-white;
          }
        }
      }
    }
  }

  &__item-in {
    width: 10px;
    height: 10px;
    border: 1px solid rgba($color-black, .2);
    position: relative;
    transition: border .3s ease-in-out;

    &:hover {
      border: 1px solid $color-black;
    }
  }
}