@import "../../scss/vars";

.Who {
  display: flex;

  &__roule-name {
    color: white;
    font-weight: 600;
    font-size: 36px;
    transform: rotate(-90deg);
    width: 320px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    position: absolute;
    top: 147px;
    left: -125px;
    text-align: right;
    transition: all .6s ease-in-out;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: -140px;
    height: 80%;
    filter: grayscale(100%);
    opacity: .6;
    transition: all .3s ease-in-out;
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    left: -200px;
    height: 80%;
    opacity: .6;
    transition: all .4s ease-in-out;
  }

  //  Item
  &__item {
    flex: 1 0 25%;
    height: 100%;
    transition: .6s ease-out;
    position: relative;
    overflow: hidden;

    //  Content Block in Item
    .Who__content {
      position: absolute;
      width: 50%;
      min-width: 400px;
      bottom: 65px;
      right: 15px;
      height: 200px;
      width: 410px;

      &_title {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 10.8px;
        color: $color-black;
        text-transform: uppercase;
        position: absolute;
        top: -35px;
        height: 33px;
        overflow-y: hidden;
      }

      &_title-in {
        transform: translateY(33px);
        transition: transform .3s ease;
      }

      &_desc {
        color: $color-white;
        font-family: "Montserrat", sans-serif;
        line-height: 1.76;
        font-size: 16px;
        margin-top: 10px;
        position: absolute;
        height: 140px;
        overflow-y: hidden;

        &-in {
          transform: translateY(135px);
          transition: transform .2s ease;
        }
      }

      &_more-info {
        position: absolute;
        bottom: 5px;
        height: 30px;
        width: 160px;
        overflow-y: hidden;

        &-in {
          transform: translateY(26px);
          transition: transform .3s ease;
          width: auto;
          display: inline-block;
        }

        &_img {
          position: absolute;
          top: 10px;
        }
      }

      &_more-info_link {
        font-size: 20px;
        line-height: 1.4;
        color: $color-black;
        text-decoration: none;
        margin-left: 30px;
        z-index: 3;
        display: block;
        position: relative;
      }
    }

    &.active.disactive {
      flex-basis: 70%;
      background-color: $color-red-etl;

      .Who__roule-name {
        transform: translateX(-80px) rotate(-90deg);
      }

      .Who__img {
        opacity: 1;
        filter: grayscale(0);
        left: -65px;
      }

      .Who__shadow {
        opacity: 1;
        left: -100px;
      }

      //  Content in Opened Item
      .Who__content {

        &_title-in {
          transform: translateY(0px);
          transition: transform .3s ease .4s;
        }

        &_desc {
          &-in {
            transform: translateY(0);
            transition: transform .4s ease .5s;
          }
        }

        &_more-info {
          &-in {
            transform: translateY(0);
            transition: transform .3s ease .8s;
          }
        }
      }
    }

    //  Roule
    &.model {
      background-color: rgb(235, 235, 235);
    }
    &.fashion-maker {
      background-color: rgb(229, 229, 229);

      //.Who__roule-name {
      //  left: -103px;
      //  top: 125px;
      //}
    }
    &.agent {
      background-color: rgb(223, 223, 223);
    }
    &.producer {
      background-color: rgb(213, 213, 213);
    }


    &.disactive {
      flex-basis: 10%;
      background-color: rgba($color-black, .6);

      .Who__img {
        left: -190px;
        opacity: .3;
      }

      .Who__roule-name {
        font-size: 21px;
        top: 165px;
        left: -135px;
      }
    }
  }
}