@import "../../scss/vars";

.What {
  display: flex;

  &__left-side {
    flex-basis: 40%;
  }

  &__right-side {
    flex-basis: 60%;
    background-image: url('../../img/ForWho/Mask Group.jpg');
    background-size: cover;
  }

  //  Container
  &__container {
    width: 450px;
    margin: auto;
  }

  //  Title
  &__title {
    h1 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 43px;
      margin-top: 80px;
    }
  }

  //  Item
  &__item {
    transition: height .3s ease-in-out;
  }

  &__item-title {
    color: $color-red-etl;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__item_text {
    color: rgb(92, 92, 92);
    line-height: 1.76;
    overflow: hidden;
    height: 100px;
  }

  &__item_header {
    &:hover {
      cursor: pointer;
    }
  }

  .what-enter {
    //opacity: 0;
    height: 0;
    //display: none;
  }

  .what-enter.what-enter-active {
    //opacity: 1;
    transition: height .3s ease-in-out;
    //display: block;
    height: 100px;
    width: 450px;
    //position: relative;
  }

  .what-leave {
    //opacity: 1;
    height: 100px;
    //display: block;
  }

  .what-leave.what-leave-active {
    //opacity: 0;
    height: 0;
    width: 450px;
    //position: absolute;
    //display: none;
    transition: height .3s ease-in-out;
  }
}