@import "../../scss/vars";

.Social {
  position: absolute;
  top: 50%;
  left: 25px;
  display: flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
  transform: translateY(-50%);
  z-index: 6;

  &__item_wr {
    margin-top: 25px;

    a svg path {
      fill: $color-black;
      transition: fill .3s ease-in-out;
    }

    &:first-child {
      margin-top: 0;
    }

    a {
      &:hover {
        cursor: pointer;
        svg path {
          fill: $color-red-etl;
        }
      }
    }
  }

  &__white-item_wr {
    margin-top: 25px;

    a svg path {
      fill: $color-white;
      transition: fill .3s ease-in-out;
    }

    &:first-child {
      margin-top: 0;
    }

    a {
      &:hover {
        cursor: pointer;
        svg path {
          fill: $color-red-etl;
        }
      }
    }
  }
}