@import "../../scss/vars";

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;

  &__main {
    width: calc( 100% - 60px );
    transition: .5s ease-in-out .8s;
  }

  //  Title
  &__messenger {
    height: 150px;
    overflow-y: hidden;
    margin-top: 60px;
    transform: translateY(0);
    transition: .8s ease-in-out;
  }

  &__title {
    font-size: 45px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;

    &_wr {
      position: relative;
      //padding-top: 85px;
      width: 700px;
      margin: auto;
    }
  }

  //  Phone
  &__phone_wr {
    position: absolute;
    left: calc(50% - 240px);
    bottom: -50px;
    height: 572px;
    transition: bottom .8s ease-in-out .1s;
    //overflow-y: hidden;
  }

  &__phone {

    &-gif {
      position: absolute;
      width: 111%;
      right: -23px;
    }

    &-img {
      width: 100%;
    }

    &-img_wr {
      width: 400px;
      position: relative;
      bottom: 20px;
      right: 10px;
    }
  }

  //  Btns
  &__btn {

    &_left-side {
      padding-left: 175px;
    }

    &_right-side {
      display: flex;
      padding-right: 100px;

      .hover-bg:last-child {
        margin-left: 100px;
      }

      .hover-bg {
        color: $color-black;
        text-decoration: none;
      }
    }

    &_wr {
      display: flex;
      margin-bottom: 35px;
      justify-content: space-between;
      font-size: 22px;
      color: $color-black;
      transform: translateY(0);
      transition: .8s ease-in-out .2s;
    }

    &_text {
      z-index: 2;
      position: relative;
    }
  }

  .hover-bg {
    .Home__btn_text {
      display: flex;
      align-items: center;
      img {
        margin-right: 13px;
      }
    }
  }
}