@import "../../scss/vars";

.Header {
  height: 65px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;

  &>div {
    flex-basis: 50%;
  }

  //  Logo
  &__logo {
    z-index: 9;
    position: relative;
    &_img {
      height: 65px;
    }
  }

  //  Right Side
  &__right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  //  Nav
  &__nav-link {
    margin-right: 80px;
    color: $color-black;
    text-decoration: none;
    position: relative;
    z-index: 2;
  }

  &__nav-text {
    z-index: 2;
    position: relative;
  }

  //  Hamburger Menu
  &__hamburger {
    margin-left: 20px;
    z-index: 9;
  }
}

//  Hamburger Menu
.Hamburger {
  height: 35px;
  width: 35px;
  position: relative;

  //  Hamburger Dotes
  &__line {
    width: 5px;
    height: 5px;
    position: absolute;
    transition: background-color .3s ease;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      top: 0;
      transition: background-color .3s ease;
    }

    &:before {
      left: -15px;
    }

    &:after {
      left: 15px;
    }
  }

  //  Top Line
  &__top-line {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba($color-black, .4);
    transition: top .3s ease-in-out .3s;

    &:before, &:after {
      background-color: $color-black;
      transition: top .3s ease-in-out;
    }
  }

  //  Center Line
  &__center-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-black;

    &:before, &:after {
      background-color: rgba($color-black, .4);
      transition: left .3s ease-in-out;
    }
  }

  //  Bottom Line
  &__bottom-line {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background-color: rgba($color-black, .4);
    transition: bottom .3s ease-in-out .3s;

    &:before, &:after {
      background-color: $color-black;
      transition: bottom .3s ease-in-out;
      top: auto;
      bottom: 0;
    }
  }

  &:hover {
    cursor: pointer;

    .Hamburger__top-line, .Hamburger__bottom-line {
      background-color: $color-red-etl;
    }

    .Hamburger__center-line {
      &:before, &:after {
        background-color: $color-red-etl;
      }
    }
  }

  //  Active
  &.active {
    .Hamburger__top-line {
      top: 15px;
      transition: .3s ease-in-out;

      &:before, &:after {
        top: -15px;
        transition: top .3s ease-in-out .3s;
      }
    }

    .Hamburger__center-line {
      &:before, &:after {
        left: 0;
      }
    }

    .Hamburger__bottom-line {
      bottom: 15px;
      transition: bottom .3s ease-in-out;

      &:before, &:after {
        bottom: -15px;
        top: auto;
        transition: bottom .3s ease-in-out .3s;
      }
    }
  }
}

//  Menu
.Menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  z-index: 8;
  top: 0;
  left: 100vw;
  transition: left .5s ease-in-out;

  //  Container
  &__container {
    width: 1176px;
    margin: 0 auto;
    position: relative;
    height: 470px;
    display: flex;
  }

  //  Bg
  &__bg {
    height: calc(100vh - 155px);
    background-color: $color-gray-light;
    margin: 0 30px;
    position: relative;
    top: 95px;
    left: 100vw;
    transition: left .5s ease-in-out .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //  Sections
  //  First Row
  &__first-row {
    flex-basis: 100px;
  }
  &__menu-title {
    font-size: .89rem;
    font-family: 'graphik-lcg', sans-serif;
    font-weight: 900;
    letter-spacing: 2.2px;
    color: $color-black;
    transform: rotate(-90deg);
    position: absolute;
    top: 18px;
  }

  //  Second row
  &__second-row {
    flex-basis: calc( 100% - 480px );
  }
  //  Third row
  &__third-row {
    flex-basis: 380px;
    //display: flex;
    //align-items: flex-end;
  }

  // Active
  &.active {
    left: 0;

    .Menu__bg {
      left: 0;
    }
  }

  //  Styles for Navigation
  &__nav {
    height: 100%;
  }

  &__ul {
    list-style-type: none;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    height: 100%;
    padding-left: 0;
  }

  &__item {
    position: relative;
    transition: color .45s cubic-bezier(.475,.425,0,.995);
    backface-visibility: hidden;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 120px;
    min-width: 52%;
    &:first-child {
      margin-top: 0;
    }

    &.Menu__focused-out {
      opacity: 1;
      transform: none;

      & .Menu__word {
        clip-path: inset(0 100% 0 0);
      }
    }

    &.Menu__focused {
      & .Menu__word {
        transform: translate3d(35px,0,0);
        clip-path: inset(0 0 0 0);
      }

      & .Menu__grayed {
        transform: translate3d(35px,0,0);
      }

      & .Menu__numbering {
        transform: translateZ(0);
        opacity: 1;
      }
    }
  }

  &__word, &__grayed {
    font-family: 'graphik-lcg', sans-serif;
    font-size: 5.28rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__word {
    position: relative;
    z-index: 3;
    transition: all .75s cubic-bezier(.63,.03,.21,1);
    clip-path: inset(0 0 0 0);
    //display: inline;
    display: inline-block;
    color: $color-black;
  }

  &__grayed {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    transition: transform .75s cubic-bezier(.63,.03,.21,1);
    color: rgba($color-black, .1);
  }

  &__numbering {
    font-family: 'graphik-lcg', sans-serif;
    font-size: .83rem;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    transform: translate3d(20px,0,0);
    transition: all .85s cubic-bezier(.63,.03,.21,1);
    opacity: 0;
  }

  &__for-who-open {
    & .Menu__item {
      &:first-child, &:nth-child(2n) {
        opacity: 1;
        transform: none;

        & .Menu__word {
          clip-path: inset(0 100% 0 0);
        }
      }

      &:last-child {
        & .Menu__word {
          transform: translate3d(35px,0,0);
          clip-path: inset(0 0 0 0);
        }

        & .Menu__grayed {
          transform: translate3d(35px,0,0);
        }

        & .Menu__numbering {
          transform: translateZ(0);
          opacity: 1;
        }
      }
    }
  }
}

.For-who {
  &.disable {
    opacity: 0;
  }

  &__ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 0;
  }

  &__item {
    position: relative;
    transition: color .45s cubic-bezier(.475,.425,0,.995);
    backface-visibility: hidden;
    box-sizing: border-box;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }

    &.For-who__focused-out {
      opacity: 1;
      transform: none;

      & .For-who__word {
        clip-path: inset(0 100% 0 0);
      }
    }

    &.For-who__focused {
      & .For-who__word {
        transform: translate3d(35px,0,0);
        clip-path: inset(0 0 0 0);
      }

      & .For-who__grayed {
        transform: translate3d(35px,0,0);
      }

      & .For-who__numbering {
        transform: translateZ(0);
        opacity: 1;
      }
    }
  }

  &__word, &__grayed {
    font-family: 'graphik-lcg', sans-serif;
    font-size: 1.94rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__word {
    position: relative;
    z-index: 3;
    transition: all .75s cubic-bezier(.63,.03,.21,1);
    clip-path: inset(0 0 0 0);
    //display: inline;
    display: inline-block;
    color: $color-black;
  }

  &__grayed {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    transition: transform .75s cubic-bezier(.63,.03,.21,1);
    color: rgba($color-black, .1);
  }

  &__numbering {
    font-family: 'graphik-lcg', sans-serif;
    font-size: .83rem;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 1;
    transform: translate3d(20px,0,0);
    transition: all .85s cubic-bezier(.63,.03,.21,1);
    opacity: 0;
  }
}