@import "./scss/vars";

html, body {
  font-family: $default-font, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

main {
  height: calc(100vh - 155px);
  background-color: $color-gray-light;
  margin: 0 30px;
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  background-color: $color-white;
}

//  Page Transition
.fade-enter {
  position: absolute;
  width: 100%;
  z-index: 5;
  opacity: 0;
  transition: opacity .1s ease-in-out 1.3s;

  main {
    width: 0;
    transition: width .5s ease-in-out 1.9s;
    z-index: 5;
    float: right;
  }

  //  Home Page Enter
  .Home__main {
    width: 0px;
    transition: .5s ease-in-out 1.9s;
  }

  .Home__title_wr {
    transform: translateY(-150px);
    transition: transform .5s ease-in-out 2.4s;
  }

  .Home__phone-img_wr {
    transform: translateY(800px);
    transition: transform .5s ease-in-out 2.7s;
  }

  .Home__btn_wr {
    overflow: hidden;

    &>div {
      transform: translateY(65px);
      transition: transform .5s ease-in-out 3s;
    }
  }

  //  WhtarPreloader Enter
  .ForWhoPreloader__title_anim {
    transform: translateY(50px);
    transition: transform .5s ease-in-out 2.4s;
  }

  .ForWhoPreloader__desc_item_text {
    transform: translateY(50px);
    transition: transform .5s ease-in-out 3.8s;
  }

  .ForWhoPreloader__desc_item {
    &:first-child .ForWhoPreloader__desc_item_text {
      transition: transform .5s ease-in-out 3.8s;
    }

    &:nth-child(2n) .ForWhoPreloader__desc_item_text {
      transition: transform .5s ease-in-out 4.1s;
    }

    &:last-child .ForWhoPreloader__desc_item_text {
      transition: transform .5s ease-in-out 4.4s;
    }
  }

  //  What Page Enter
  .What {
    width: 0;
    transition: width .5s ease-in-out 1.9s;
  }

  .What__title h1 {
    transform: translateY(-50px);
    transition: transform .5s ease-in-out 2.4s;
  }

  .What__content {
    transform: translateY(100px);
    opacity: 0;
    transition: .5s ease-in-out 2.7s;
  }

  //  WhoPreloader Enter
  .ForWhoPreloader.who {
    width: 0;
    transition: .5s ease-in-out 1.9s;
  }

  .ForWhoPreloader__title.who h1 {
    transform: translateY(50px);
    transition: transform .5s ease-in-out 2.4s;
  }

  //  Social && Pagination && Scroll
  .Social, .Pagination, .scroll-button {
    opacity: 0;
    transition: .5s ease-in-out 2.3s;
  }

  //  Etalonium BG Text
  .BgTextEtal {
    opacity: 0;
    transition: .1s ease-in-out 1.9s;
  }
}

.fade-enter-active {
  position: absolute;
  width: 100%;
  opacity: 1;

  main {
    width: calc( 100% - 60px );
  }

  //  Home Page Enter
  .Home__main {
    width: calc( 100% - 60px );
  }

  .Home__title_wr {
    transform: translateY(0);
  }

  .Home__phone-img_wr {
    transform: translateY(0);
  }

  .Home__btn_wr {
    overflow: hidden;

    &>div {
      transform: translateY(0);
    }
  }

  //  WhtarPreloader Enter
  .ForWhoPreloader__title_anim {
    transform: translateY(0);
  }

  .ForWhoPreloader__desc_item_text {
    transform: translateY(0);
  }

  //  What Page Enter
  .What {
    width: calc( 100% - 60px );
  }

  .What__title h1 {
    transform: translateY(0px);
  }

  .What__content {
    transform: translateY(0);
    opacity: 1;
  }

  //  WhoPreloader Enter
  .ForWhoPreloader.who {
    width: calc( 100% - 60px );
  }

  .ForWhoPreloader__title.who h1 {
    transform: translateY(0);
  }

  //  Social && Pagination && Scroll
  .Social, .Pagination, .scroll-button {
    opacity: 1;
  }

  //  Etalonium BG Text
  .BgTextEtal {
    opacity: 1;
  }
}

.fade-exit {
  position: absolute;
  width: 100%;
  //z-index: 3;
  z-index: 4;

  main {
    z-index: 4;
  }

  //  Home Page Exit
  .Home__messenger {
    transform: translateY(-100vh);
  }

  .Home__phone_wr {
    bottom: -100vh;
  }

  .Home__btn_wr {
    transform: translateY(100vh);
  }

  .Home__main {
    width: 0;
  }

  //  WhtarPreloader Exit
  .ForWhoPreloader__title_anim {
    transform: translateY(0);
    transition: .5s ease-in-out 0s, opacity 0.1s ease 1.4s;
    opacity: 1;
  }

  .ForWhoPreloader__desc_item_text {
    transform: translateY(0);
    transition: .5s ease-in-out .3s, opacity 0.1s ease 1.4s;
    opacity: 1;
  }

  .ForWhoPreloader__desc_item {
    &:first-child .ForWhoPreloader__desc_item_text {
      transition: transform .5s ease-in-out .3s, opacity 0.1s ease 1.4s;
    }

    &:nth-child(2n) .ForWhoPreloader__desc_item_text {
      transition: transform .5s ease-in-out .6s, opacity 0.1s ease 1.4s;
    }

    &:last-child .ForWhoPreloader__desc_item_text {
      transition: transform .5s ease-in-out .9s, opacity 0.1s ease 1.4s;
    }
  }

  .ForWhoPreloader {
    width: calc( 100% - 60px );
    transition: width .5s ease-in-out 1.3s;
  }

  //  What Page Exit
  .What {
    width: calc( 100% - 60px );
    transition: width .5s ease-in-out 1.3s;
  }

  .What__title h1 {
    transform: translateY(-0px);
    transition: transform .5s ease-in-out .5s;
  }

  .What__content {
    transform: translateY(0px);
    opacity: 1;
    transition: .5s ease-in-out;
  }

  //  WhoPreloader Exit
  .ForWhoPreloader.who {
    width: calc( 100% - 60px );
    transition: .5s ease-in-out 1.3s;
  }

  .ForWhoPreloader__title.who h1 {
    transform: translateY(0px);
    opacity: 1;
    transition: transform .5s ease-in-out .8s, opacity .1s ease-in-out 1.3s;
  }

  //  Who Exit
  .Who {
    overflow: hidden;
    width: calc( 100% - 60px );
    transition: width .5s ease-in-out 1.3s;

    .model {
      transform: translateY(0);
      transition: .4s ease-in-out;
    }
    .fashion-maker {
      transform: translateY(0);
      transition: .4s ease-in-out .3s;
    }
    .agent {
      transform: translateY(0);
      transition: .4s ease-in-out .6s;
    }
    .producer {
      transform: translateY(0);
      transition: .4s ease-in-out .9s;
    }
  }

  //  Social && Pagination & Scroll
  .Social, .Pagination, .scroll-button {
    opacity: 1;
    transition: .5s ease-in-out .6s;
  }

  //  Etalonium BG Text
  .BgTextEtal {
    opacity: 1;
    transition: .1s ease-in-out 1.8s;
  }
}

.fade-exit-active {
  position: absolute;
  width: 100%;

  //  Home Page Exit
  .Home__messenger {
    transform: translateY(-500px);
  }

  //  WhtarPreloader Exit
  .ForWhoPreloader__title_anim {
    transform: translateY(-50px);
    opacity: 0;
  }

  .ForWhoPreloader__desc_item_text {
    transform: translateY(-50px);
    opacity: 0;
  }

  .ForWhoPreloader {
    width: 0px;
  }

  //  What Page Exit
  .What {
    width: 0px;
  }

  .What__title h1 {
    transform: translateY(-50px);
  }

  .What__content {
    transform: translateY(100px);
    opacity: 0;
  }

  //  WhoPreloader Exit
  .ForWhoPreloader.who {
    width: 0;
  }

  .ForWhoPreloader__title.who h1 {
    transform: translateY(-50px);
    opacity: 0;
  }

  //  Who Exit
  .Who {
    width: 0;

    .model {
      transform: translateY(100%);
    }
    .fashion-maker {
      transform: translateY(100%);
    }
    .agent {
      transform: translateY(100%);
    }
    .producer {
      transform: translateY(100%);
    }
  }

  //  Social && Pagination && Scroll
  .Social, .Pagination, .scroll-button {
    opacity: 0;
  }

  //  Etalonium BG Text
  .BgTextEtal {
    opacity: 0;
  }
}

//  Hovers
.hover-bg {
  position: relative;
  &__bg {
    position: absolute;
    height: 100%;
    width: 0px;
    background-color: $color-red-etl;
    right: -30px;
    top: 0;
    z-index: 1;
    transition: width .3s ease;

    &.bg-white {
      background-color: $color-white;
    }
  }

  &:hover {
    cursor: pointer;

    .hover-bg__bg {
      width: 50px;
    }
  }
}

.text-red {
  color: $color-red-etl;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
