@import "./scss/vars";

html, body {
  font-family: $default-font, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  background-color: $color-white;
}

//  Hovers
.hover-bg {
  &__bg {
    position: absolute;
    height: 100%;
    width: 0px;
    background-color: $color-red-etl;
    right: -30px;
    top: 0;
    z-index: 1;
    transition: width .3s ease;
  }

  &:hover {
    .hover-bg__bg {
      width: 50px;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
