@import "fonts";

//  VARS
// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red-etl: rgb(241, 81, 82);
$color-gray-light: rgb(251, 250, 250);
$color-gray: rgb(146, 146, 146);

//  Fonts
$default-font: 'graphik-lcg';